* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 3.5rem;
  background: red;
  color: white;
  display: flex;
}

.left {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 31px;
  margin-left: 2rem;
}

.left:hover {
  /* color: black; */
}

.right {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 15rem;
  gap: 14px;
}

.cursor {
  cursor: pointer;
}

.pTag {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 6px;
  font-size: 14px;
}

.main {
  display: flex;
}

.main-left {
  margin-left: 5rem;
  margin-top: 1.3rem;
}

.main-right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.getBtn {
  height: 3.5rem;
  border-radius: 34px;
  width: 11rem;
  background: red;
  color: white;
  border: none;
}

.banner {
  max-width: 100%;
  height: auto;
  /* position: absolute; */
}

.mobile {
  color: red;
  padding-top: 20rem;
  padding-left: 51rem;
  font-size: 40px;
}

/* .pLeft {
  padding-left: 50rem;
  padding-top: 14px;
  font-size: 19px;
}

.relative {
  position: relative;
} */

.center {
  display: flex;
  text-align: left;
}

.h1 {
  font-size: 3.5rem;
}

.p-size {
  font-size: 19px;
  margin-top: 10px;
}

.center-left {
  padding-left: 8rem;
  padding-top: 4rem;
}

.center-right {
  /* border: 1px solid; */
  height: 21rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 31rem;
  display: flex;
  background: #f8f8f8;
  margin-left: 9rem;
  margin-top: 2rem;
}

.center-paragraph {
  color: red;
  font-size: 26px;
}

.form {
  text-align: left;
  display: grid;
  gap: 26px;
}

.size {
  height: 3rem;
  width: 19rem;
}

.submitBtn {
  height: 3.5rem;
  width: 8rem;
  border-radius: 48px;
  background: red;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.submitBtn:hover {
  background: black;
}

.imageSize {
  height: 10px;
}

.center-2 {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.center-main {
  background: #f3f3f3;
  height: 20rem;
  justify-content: center;
  display: grid;
  width: 69rem;
}

.flex {
  display: flex;
}

.gap {
  gap: 5rem;
}

.center-3 {
  margin-top: 7rem;
  font-size: 25px;
}

.margin {
  margin-top: 20px;
}
Image {
  width: 10px;
  height: 10px;
  /* position: z; */
}

span {
  color: red;
}

.appleSize {
  height: 33rem;
  margin-right: 6rem;
}

.btnMargin {
  margin-top: 3rem;
}

.center-3left {
  margin-left: 6rem;
}

.center-4 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.center-4h1 {
  font-size: 3.2rem;
  margin-top: 5rem;
}

.center-4p {
  margin-top: 3rem;
}

.height {
  height: 28rem;
  margin: 1rem 1.2rem;
}

.height:hover {
}

.center-4img {
  margin-top: 5rem;
}

.center-5 {
  margin: 2rem;
  background: #e8e8e8;
  /* width: 100vw; */
}
.imgage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.team {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.teamImg {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.center-6 {
  justify-content: space-around;
  margin-top: 12rem;
}

.center-6left {
  margin-left: 5rem;
}

.center-6right {
  font-size: 20px;
  margin-left: 7rem;
}

.winSize {
  border-radius: 5px;
  height: 30rem;
}

.footer {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin-top: 8rem;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  /* margin-bottom: 5rem; */
  border-bottom: 2px solid red;
}

.viewBtn {
  margin-top: 10px;
}

.footer-left {
  margin-left: 3rem;
  width: 50%;
  margin-top: 4rem;
  border: 1px solid redd;
}

.footer-input {
  /* margin-left: 2rem; */
  /* width: 50%; */
  height: 15vh;
  border-radius: 7px;
  background-color: white;
  width: 48%;
  display: flex;
  margin-top: 2rem;
  /* justify-content: ; */
}
.footer-right {
  margin-left: 2rem;
  width: 50%;
  /* border: 1px solid red; */

  margin-top: 1rem;
}
.Peragrapf {
  margin-top: 2rem;
  font-size: 20px;
  padding-bottom: 2rem;
  padding: 10px;
  display: flex;
  gap: 10px;
}
.butt_1 {
  width: 40%;
  /* height: ; */
  border-radius: 7px;
  padding: 20px;
  /* border-right-color: red; */
  background-color: red;
  border: none;
}
.CopyRightSection {
  width: 100%;
  height: 20vh;
  border-right-color: black;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  /* margin-left: 2rem; */
}

.teamImage {
  display: flex;
  justify-content: space-around;
  break-before: 50%;
  border-radius: 50%;
  padding: 40px;
}
